{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <p>
                {{ message }}
            </p>
        </div>
    </div>
{% endblock %}