<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <meta name="robots" content="noindex,nofollow" />

        <title>{% block title %}Trip Tracker{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">Trip Tracker</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav">
                        <li {% if app.request.get('_route') == 'trips_index' %} 
                                class="active"
                            {% endif %}>
                                <a href="{{ path('trips_index') }}">My Trips </a>
                        </li>
                    </ul>
                    {% endif %}

                    <ul class="nav navbar-nav navbar-right">
                        {% block user_details %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username | capitalize }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('trips_create') }}">Add Trip</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li {% if app.request.get('_route') == 'fos_user_registration_register' %} 
                                        class="active"
                                    {% endif %}>
                                    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                                </li>                                
                                <li {% if app.request.get('_route') == 'fos_user_security_login' %} 
                                        class="active"
                                    {% endif %}>
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
              </div>
            </nav>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
