{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="login-wrapper">	
	<h2>Register</h2>

	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    	{{ form_widget(form) }}

		<div class="form-group">
        	<input type="submit" class="btn btn-default" name="_submit" value="{{ 'registration.submit'|trans }}" />
	    </div>

	  	<div class="form-group">
			<a href="{{ path('fos_user_security_login') }}">Already a member? {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
		</div>
	{{ form_end(form) }}
</div>

{% endblock fos_user_content %}
