.login-wrapper {
    width: 350px;
    margin: 0 auto;
}

.login-wrapper input[type="submit"] {
    width: 100%;
}

.input-group {
	width: 100%
}

.input-group-addon {
    color: #333;
    background: #f8f8f8;
    top: 0;
}

.checkbox label {
    vertical-align: middle;
}
