{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="login-wrapper">
	<h2>Login</h2>
	<form role="form" action="{{ path("fos_user_security_check") }}" method="post">
	    {% if csrf_token %}
	        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    {% endif %}
		
		<div class="form-group">
			<div class="input-group">
	    		<input type="text" id="username" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" />
	    		<label for="username" class="input-group-addon glyphicon glyphicon-user"></label>
			</div>
		</div> <!-- /.form-group -->

		<div class="form-group">
			<div class="input-group">
				<input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" />
	    		<label for="password" class="input-group-addon glyphicon glyphicon-lock"></label>
			</div> <!-- /.input-group -->
		</div> <!-- /.form-group -->

		<div class="checkbox">
			<label>
				<input type="checkbox" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
			</label>
		</div> <!-- /.checkbox -->

		<div class="form-group">
			<a href="{{ path('fos_user_registration_register') }}">Not a member? {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
		</div>

		<input type="submit" class="btn btn-default" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>	
</div>

{% endblock fos_user_content %}
