{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

<div class="login-wrapper">
	<h2>Add a new Trip</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
    	<input type="submit" class="btn btn-default" name="_submit" value="Save" />
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}