{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ trip.name }}</h1>

    <div id="map_canvas" style="height: 300px"></div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map_canvas"), {
                mapTypeId: 'terrain'
            });

            var points = [];
            var bounds = new google.maps.LatLngBounds();
            var xml = JSON.parse('{{ points|json_encode|raw }}');

            xml.trkpt.forEach(function (el) {
                var lat = el["@attributes"].lat;
                var lon = el["@attributes"].lon;
                var p = new google.maps.LatLng(lat, lon);
                points.push(p);
                bounds.extend(p);
            });

            var poly = new google.maps.Polyline({
                path: points,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            poly.setMap(map);
            map.fitBounds(bounds);
        }
    </script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initMap"></script>
{% endblock %}