{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% if trips is empty %}
        <p>No trips to show</p>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>File</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for trip in trips %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ trip.name }}</td>
                    <td><a href="{{ asset('xml/trips/') ~ trip.xmlName }}" target="_blank">{{ trip.xmlName }}</a></td>
                    <td><a class="btn btn-default" href="{{ path('trips_show', {'id': trip.id}) }}" role="button">Show</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}